<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header1") %>

    <% if(charityRes){ %>
        <h1 class="heading top"> 
            <span style="text-align: center; margin-bottom: 10px;">حجوزات الجمعية</span>
        </h1>
    
    <section class="services">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>اسم المطعم</th>
                    <th>نوع الوجبة</th>
                    <th>تاريخ الحجز</th>
                    <th>الكمية</th>
                    <th>إلغاء الحجز</th>
                </tr>
            </thead>
            <tbody>
                <% if(resdata.length > 0 ){
                        resdata.forEach((item) => { %>
                                <form action="/meal/delete_order/<%= item.id %>?_method=DELETE" method="POST">
                                   
                                    <tr>    
                                      
                                        <td><i class="fas fa-utensils" style='font-size:25px;color:#ffa200;'></i></td>
                                        <td><%= item.name %></td>
                                        <td><%= item.category %></td>
                                        <td><%= item.date %></td>
                                        <td><%= item.quantity %></td>
                                        <td>
                                            <button class='fa-solid fa-trash-can' style='font-size:30px;color:#ffa200;' type="submit" title="الغاء الحجز"></button>
                                        </td>
                                    </tr>
                                </form>
                        <% 
                    })     
                }
            %>
            </tbody>
        </table>
    </section>
    <% } %>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding:1rem;
            text-align: center;
            border-bottom: 1px solid #ddd;
            font-size: 1.3rem;  
        }
    </style> 
    <% if(resturantRes){ %>
        <h1 class="heading top"> 
            <span>حجوزات المطعم</span>
        </h1>
<section class="services">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>اسم الجمعية</th>
                <th>نوع الوجبة</th>
                <th>تاريخ الحجز</th>
                <th>الكمية</th>
                <th>إلغاء الحجز</th>
            </tr>
        </thead>
        <tbody>
            <% if(resdata.length > 0 ){
                    resdata.forEach((item) => { %>
                            <form action="/meal/delete_order/<%= item.id %>?_method=DELETE" method="POST">
                               
                                <tr>    
                                  
                                    <td><i class="fas fa-utensils" style='font-size:25px;color:#ffa200;'></i></td>
                                    <td><%= item.name %></td>
                                    <td><%= item.category %></td>
                                    <td><%= item.date %></td>
                                    <td><%= item.quantity %></td>
                                    <td>
                                        <button class='fa-solid fa-trash-can' style='font-size:30px;color:#ffa200;' type="submit" title="الغاء الحجز"></button>
                                    </td>
                                </tr>
                            </form>
                    <% 
                })     
            }
        %>
        </tbody>
    </table>
</section>
<% } %>
</body>
</html>